# datasource
spring:
  datasource:
    url: jdbc:tc:postgresql:11.1:///time-manager-db

# sql
  sql:
    init:
      mode: always

# jpa
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        show_sql: true
        format-sql: true

# log
logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql: trace

# port
#server:
#  port: 8888