# datasource
spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/time-manager-db
#    url: ${DB_DEV_URL}
    username: ${DB_USERNAME_DEV}
    password: ${DB_PASSWORD_DEV}

# sql
  sql:
    init:
      mode: never

# jpa
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format-sql: true
    defer-datasource-initialization: true

# log
logging:
  level:
    org:
      hibernate:
        sql: DEBUG
        type: trace