# datasource
spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:time-manager-db
    username: sa
    password:

# sql
  sql:
    init:
      mode: always

# jpa
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format-sql: true
    defer-datasource-initialization: true

# log
logging:
  level:
    org:
      hibernate:
        sql: DEBUG
        type: trace